@charset "UTF-8";
/* ==========================================================================
   >>BASE
   ========================================================================== */
html {
	width: 100%;
	font-size: 100%; /* 16px dans la plupart des navigateurs */
	-webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
	position: relative;
	width: 100%;
	background-color: $bg-color-body;
	color: $color-txt-body;
	font-family: $font-default;
	font-size: 1em;
	line-height: $line-height-base;
	overflow-y: scroll;
	overflow-x: hidden;
}

.is-scrollBlocked body,
.has-subnavOpen body {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}

@include mq($nav-mobile) {
	.has-subnavOpen body {
		position: relative;
		top: auto;
		left: auto;
		height: auto
	}
	.is-scrollBlockedMobile body {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

/* Sélection */
@include selection {
  background: $couleur-selection-bg;
  text-shadow: none;
	color: $couleur-selection-ft;
}

/* Empécher le débordement */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
	max-width: 100%;
}

/* Casser les chaines trop longues */
h1,
h2,
h3,
h4,
h5,
h6,
a,
textarea,
p,
li {
	word-wrap: break-word;
}

/* fix viewport pour Win8 (snap mode) et préparer le jour où le viewport sera supporté */
@-webkit-viewport{ width: device-width }
@-moz-viewport{ width: device-width }
@-ms-viewport{ width: device-width }
@-o-viewport{ width: device-width }
@viewport{ width: device-width }
