//Générales
//=========
$noir: #000 !default;
$blanc: #fff !default;
$gris: #F6F6F6 !default;
$jaune: #ff0 !default;
$rouge: #cb1d1d !default;

//Couleurs principales
//====================
$couleur1: #00d8a8 !default; //...
$couleur2: darken($gris,10%) !default; //...
//...

//Body
//====
$bg-color-body: $blanc !default;
$color-txt-body: $noir !default;

//Menu et logo
//============
//...

//Boutons
//=======
$bg-color-btn: $noir !default;
$bg-color-btn-hover: $couleur1 !default;
$color-txt-btn: $blanc !default;
$color-txt-btn-hover: $blanc !default;

//Liens
//=====
$color-links: $couleur1 !default;
$color-links-hover: $noir !default;

//Selection
//=========
$couleur-selection-bg: darken($couleur1,5%) !default;
$couleur-selection-ft: $blanc !default;

//Lignes (hr, quote, ...)
//=======================
$couleur-ligne: $couleur1 !default;
