//Couleurs basiques
//=================
$noir: #000 !default;
$blanc: #fff !default;
$gris: #F6F6F6 !default;
$jaune: #ff0 !default;
$rouge: #cb1d1d !default;

//Couleurs principales du projet
//==============================
$couleur1: #00d8a8 !default; //...
//...

//Couleurs générales
//==================
$bg-color-body: $blanc !default;
$color-txt-body: $noir !default;

//Couleur des boutons (.btn)
//==========================
$bg-color-btn: $noir !default;
$bg-color-btn-hover: $couleur1 !default;
$color-txt-btn: $blanc !default;
$color-txt-btn-hover: $blanc !default;

//Couleurs des liens
//==================
$color-links: $couleur1 !default;
$color-links-hover: $noir !default;

//Couleur de la sélection
//=======================
$couleur-selection-bg: darken($couleur1,5%) !default;
$couleur-selection-ft: $blanc !default;

//Couleur des hr, quote, etc.
//===========================
$couleur-ligne: $couleur1 !default;
