//Couleurs basiques
//=================
$noir: #000;
$blanc: #fff;
$gris: #F6F6F6;
$jaune: #ff0;
$rouge: #D8232A; //pastille panier, bordure input erreur, accueil dernière minute
$vert: #03a706;

//Couleurs principales du projet
//==============================
$couleur1-l: #4950A7; //...
$couleur1: #3B4186; //...
$couleur1-d: #2f346b; //...
$couleur2: #EEB12A; //...
$couleur2-d: #d59e25; //...

$gris1: #1A1919; //...
$gris2: #333333; //...
$gris3: #4A4A4A; //...
$gris4: #757575; //...
$gris5: #AAAAAA; //...
$gris6: #BBBBBB; //...
$gris7: #CCCCCC; //...

//Couleurs générales
//==================
$bg-color-body: $blanc;
$color-txt-body: $gris1;

//Couleur de la sélection
//=======================
$couleur-selection-bg: $couleur2;
$couleur-selection-ft: $couleur1;

//Couleur des hr, quote, etc.
//===========================
$couleur-ligne: $couleur1;
