/* ==========================================================================
   >>Font-Face
   ========================================================================== */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?18ajcm');
	src:url('fonts/icomoon.eot?#iefix18ajcm') format('embedded-opentype'),
			url('fonts/icomoon.ttf?18ajcm') format('truetype'),
			url('fonts/icomoon.woff?18ajcm') format('woff'),
			url('fonts/icomoon.svg?18ajcm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

//IE9+ (both)
// @font-face {
// 	font-family: 'example';
// 	src: url('fonts/example.woff2?#iefix') format('woff2'),
// 			 url('fonts/example.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }
// or (better compatibility)
// @font-face {
//   font-family: 'example';
//   src: url('fonts/example.woff2') format('woff2'),
//        url('fonts/example.woff') format('woff'),
//        url('fonts/example.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// }
