/* ==========================================================================
   >>FORMS
   ========================================================================== */
@if $hasForm {
/* --------------------------------------------------------------------------
   ->Styles persos
   -------------------------------------------------------------------------- */
legend,
fieldset {
  display: block;
}
input,
textarea,
select {
  display: block;
	width: $input-defaut-size;
	border: $input-defaut-border;
  padding: .5em;
}
label,
.label {
	display: inline-block;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    width: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="range"],
input[type="color"],
input[type="radio"],
input[type="checkbox"],
input[type="image"] {
    border: none;
}
input[type="radio"],
input[type="checkbox"],
input[type="image"] {
    background-color: transparent;
}
input[type="range"],
input[type="color"] {
    padding: 0;
}
input[type="color"] {
    width: 3em;
}
// input[type="date"] {
//     &::-webkit-datetime-edit-fields-wrapper { background: silver; }
//     &::-webkit-datetime-edit-text,
//     &::-webkit-datetime-edit-month-field,
//     &::-webkit-datetime-edit-day-field,
//     &::-webkit-datetime-edit-year-field {
//       color: inherit;
//       opacity: .5;
//     }
//     &::-webkit-inner-spin-button { display: none; }
//     &::-webkit-calendar-picker-indicator { display: none; }
// }
textarea {
    min-height: $nb-lines-textarea * $line-height-base * 1em;
}

/* --------------------------------------------------------------------------
   ->Styles invalide
   -------------------------------------------------------------------------- */
select:invalid,
input:invalid,
textarea:invalid {
    -moz-box-shadow: none;
    box-shadow: none;
    border: $input-defaut-border;
}
select:focus:invalid,
input:focus:invalid,
textarea:focus:invalid,
select.is-error,
input.is-error,
textarea.is-error {
    background: rgba($rouge,.2);
    border-color: $rouge;
}

/* Désactiver le bouton d'envoie si invalide. */
input:invalid ~ [type="submit"],
select:invalid ~ [type="submit"],
textarea:invalid ~ [type="submit"] {
    opacity: .3;
    pointer-events: none;
    cursor: default;
}

/* --------------------------------------------------------------------------
   ->Styles placeholder
   -------------------------------------------------------------------------- */
@include placeholder {
    color: inherit;
    opacity: .5;
}
} //End if hasForm

/* --------------------------------------------------------------------------
   ->Bouton
   -------------------------------------------------------------------------- */
.btn {
    display: inline-block;
    padding: .6em 1em;
    color: $color-txt-btn;
    background-color: $bg-color-btn;
    vertical-align: middle;
    transition: all 0.3s;
    &:hover,
    &:focus,
    &:active {
        color: $color-txt-btn-hover;
        background-color: $bg-color-btn-hover;
    }
    &[disabled] {
        color: $color-txt-btn;
        background-color: $bg-color-btn;
    }
}
