/* ==========================================================================
   >>MODULES
   ========================================================================== */




/* --------------------------------------------------------------------------
   ->Google map
   -------------------------------------------------------------------------- */
@if $gm {
.gogoMap {
	width: 100%;
	height: em($gm);
	background-color: #e5e3df;
	img {
		max-width: none; /* Fix bug */
	}
	.no-js & {
		display: none;
	}
}
}

/* --------------------------------------------------------------------------
   ->Slick slider styles généreaux
   -------------------------------------------------------------------------- */
@import 'slick';
