/* ==========================================================================
   >>PRINT
   ========================================================================== */
@media print {
    /* Général */
    * {
        background: transparent !important;
        //color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    @page {
        margin: 0.5cm;
    }

    /* Liens, abbr */
    p a[href]:after,
    .p a[href]:after {
        content: " (" attr(href) ")";
    }
    p abbr[title]:after,
    .p abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /* Pas pour images (classe à ajoutée...), liens internes et js */
    p .linkWithNoTxt a:after,
    p a[href^="javascript:"]:after,
    p a[href^="#"]:after,
    .p .linkWithNoTxt a:after,
    .p a[href^="javascript:"]:after,
    .p a[href^="#"]:after {
        content: "";
    }

    /* Gestion des débordement de page */
    pre,
    blockquote,
    ul,
    ol,
    tr,
    img {
        page-break-inside: avoid;
    }

    h1,
    h2,
    h3,
    caption {
        page-break-after: avoid;
    }

    /* En tete de table */
    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    /* Veuves et orphelins */
    p,
    .p,
    blockquote,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
}
