/* --------------------------------------------------------------------------
   ->Slick slider styles généreaux
   -------------------------------------------------------------------------- */
/* Slider */
/* ---------------------------- */
.slick-slider {
	position: relative;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	height: 100%; //add
	margin: 0;
	padding: 0;
	cursor: pointer; //add
	cursor: move; //add
	cursor: grab; //add
    cursor: -moz-grab; //add
    cursor: -webkit-grab; //add
    &:active,
	&.dragging {
		cursor: pointer; //add
    	cursor: move; //add
		cursor: grabbing; //add
	    cursor: -moz-grabbing; //add
	    cursor: -webkit-grabbing; //add
    }
	&:focus {
		outline: none;
	}
}
// .slick-list.dragging {
// 	cursor: pointer;
// 	cursor: move;
// 	cursor: hand;
// }

.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	height: 100%; //add
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
	.slick-loading & {
		visibility: hidden;
	}
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	// margin: 0;
	// overflow: hidden;
	[dir='rtl'] & {
		float: right;
	}
}
.slick-slide img {
	display: block;
	// pointer-events: none; //add
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	 pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}



/* Theme */
/* ---------------------------- */
// .slick-loading .slick-list {
// 	background: white url(img/ajax-loader.gif) center center no-repeat;
// }

/* Arrows */
.slick-prev,
.slick-next {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	// padding: .4em .1em;
	background: transparent;
	border: none;
	font-size: em(40);
	color: $blanc;
	line-height: 1;
	// transition: color .4s;
	// &:hover,
	// &:focus,
	// &:active {
	// 	color: $couleur1;
	// }
}
.slick-prev {
	right: 100%;
	margin-right: em(5,40);
}
.slick-next {
	left: 100%;
	margin-left: em(5,40);
}

.slick-dots {
	display: block;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	// margin-top: em(15);
	text-align: center;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	height: em(18);
	width: em(18);
	margin: 0;
	cursor: pointer;
}
.slick-dots li button {
	display: block;
	height: 100%;
	width: 100%;
	padding: em(4);
	font-size: 0;
    line-height: 0;
    outline: none;
    color: transparent;
    background: transparent;
    cursor: pointer;
    &:before {
		content: "\2022";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
		text-align: center;
		font-size: 36px;
		line-height: em(18,36);
		color: $noir;
		opacity: 0.25;
	}
	&:hover,
	&:focus {
		outline: none;
		&:before {
			opacity: 1;
		}
	}
}
.slick-dots li.slick-active button:before {
    color: $noir;
    opacity: 0.75;
}
