/* ==========================================================================
   >>TYPO
   ========================================================================== */
/* --------------------------------------------------------------------------
   ->titres
   -------------------------------------------------------------------------- */
@if $headings-size {
@for $i from 1 through length($headings-size) {
  $selector: "h#{$i}, .h#{$i}";
  $visual  : nth($headings-size, $i);
  $weight  : nth($headings-weight, $i);

  #{$selector} {
    @include flow-hr($visual);
    font-weight: $weight;
  }
}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $font-secondaire;
	max-width: $max-p-width;
	//Eviter problèmes de margin
  @if $vertical-rythm != '1t' {
  	&:last-child {
  		margin-bottom: 0;
  	}
  }
  @if $vertical-rythm != '1b' {
  	&:first-child {
  		margin-top: 0;
  	}
  }
}

/* --------------------------------------------------------------------------
   ->paragraphes et autres
   -------------------------------------------------------------------------- */
p,
.p,
ul,
ol,
dl,
blockquote,
pre,
table,
caption,
figure {
  font-size: 1em; /* equiv 16px */
  line-height: $line-height-base;
  margin: $line-height-base * 1em (0);
	max-width: $max-p-width;
	// Virer marge basse sur premier et dernier enfant
	&:last-child {
		margin-bottom: 0;
	}
	&:first-child {
		margin-top: 0;
	}
}

@if $p-justify {
p,
.p {
	text-align: justify;
	word-wrap: break-word;
	hyphens: auto;
}
}

/* --------------------------------------------------------------------------
   ->mise en forme du texte
   -------------------------------------------------------------------------- */
/* Gras et italique */
b, strong {
  font-weight: 700;
}
i, em {
	font-style: italic;
}

/* Indice et exposant */
sub, sup {
  position: relative;
  font-size: .75em;
  vertical-align: 0;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}

/* --------------------------------------------------------------------------
   ->liens
   -------------------------------------------------------------------------- */
/* Rappel : l'ordre des pseudo-classes doit être : link > visited > hover/focus > active */
a {
	color: $color-links;
	text-decoration: $a-underline;
	cursor: pointer;
	transition: color .3s;
	&:hover,
	&:focus,
	&:active {
		color: $color-links-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

nav a {
	text-decoration: none;
}

// Lien externe :
// a[href^="http://"],
// a[href^="https://"]
// Enlever pour notre domaine
// a[href^="http://www.mondomaine.com"]

// Contact :
// a[href^="mailto:"]

// PDF :
// a[href$=".pdf"]

/* --------------------------------------------------------------------------
   ->listes à puces et numérotées
   -------------------------------------------------------------------------- */
ul,
ol {
	padding-left: $puce-padding;
	list-style-position: $puce-position;
	&.unstyled {
		list-style: none;
    padding-left: 0;
	}
}

/* éviter marges supplémentaires sur éléments imbriqués et dans les menus */
li p,
li .p,
li ul,
li ol,
nav ul,
nav ol {
  margin-bottom: 0;
  margin-top: 0;
}
nav ul,
nav ol {
	padding-left: 0;
	list-style: none;
	max-width: none;
}

/* --------------------------------------------------------------------------
   ->autres mises en forme
   -------------------------------------------------------------------------- */
/* Code, mark, ... */
code,
pre,
samp,
kbd {
	font-family: $font-monospace;
}
samp {
  white-space: pre-line;
  white-space: pre-wrap;
  line-height: 1em;
}
pre {
  overflow: auto;
}
kbd {
  display: inline-block;
  padding: em(2,12) em(4,12);
  border: 1px solid #B4B4B4;
  border-radius: em(3,12);
  background-color: #F4F7F8;
  box-shadow: 0px 1px 1px rgba($noir, .2), 0px 2px 0px 0px rgba($blanc, .7) inset;
  font-size: em(12);
  font-weight: 700;
  white-space: nowrap;
}

/* Code */
@if $prism {
/* Use with prism.js : http://prismjs.com/ */
/* cf. partie prism */
} @else {
pre > code {
	display: block;
  max-height: em(400);
  overflow-x: auto;
  padding: .5em 1em;
  tab-size: 4;
  white-space: pre;
  background-color: #efefef;
}
}

/* Surlignement */
mark {
	padding: .125em .25em;
	background: $jaune;
  color: $noir;
}

/* Abbreviations, sigles, etc. */
abbr[title] {
  border-bottom: dotted 1px;
  cursor: help;
  font-variant : none;
  text-decoration: none;
}

/* Citations
 * cf. https://en.wikipedia.org/wiki/Quotation_mark#Summary_table_for_all_languages
 */
q,
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
:lang(fr) q,
:lang(fr) blockquote {
  quotes: "\00AB\00A0" "\00A0\00BB" "\201C" "\201D" "\2018" "\2019";
}
:lang(en) q,
:lang(en) blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
:lang(es) q,
:lang(es) blockquote {
  quotes: "\00AB" "\00BB" "\201C" "\201D";
}
:lang(it) q,
:lang(it) blockquote {
  quotes: "\00AB\00A0" "\00A0\00BB" "\201C" "\201D";
}
:lang(de) q,
:lang(de) blockquote {
  quotes: "\201e" "\201c" "\201a" "\2018";
}
q:before,
blockquote:before {
  content: open-quote;
}
q:after,
blockquote:after {
  content: close-quote;
}

/* Ligne horizontale */
hr {
	height: 1px;
	border: 0;
	color: $couleur-ligne;
	background-color: $couleur-ligne;
	margin: 1em 0;
  padding: 0;
}

/* --------------------------------------------------------------------------
   ->tailles alternatives
   -------------------------------------------------------------------------- */
$sizes:
  smallest ($taille-base - 6),
  smaller ($taille-base - 4),
  small   ($taille-base - 2),
  big     ($taille-base + 2),
  bigger  ($taille-base + 4),
  biggest ($taille-base + 6);

@each $size in $sizes {
  $keyword: nth($size, 1);
  $size-px: nth($size, 2);

  .#{$keyword} {
    @include flow-other($size-px);
  }
}
