@charset "UTF-8";
/* ==========================================================================
   >>TYPO
   ========================================================================== */
/* --------------------------------------------------------------------------
   ->mise en forme du texte
   -------------------------------------------------------------------------- */
/* Gras et italique */
b, strong {
  font-weight: 700;
}
i, em {
	font-style: italic;
}

/* Indice et exposant */
sub, sup {
  position: relative;
  font-size: .75em;
  vertical-align: 0;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}

/* Supprimer / ajouter */
del {
  text-decoration: line-through;
}
ins {
  text-decoration: underline;
}


/* --------------------------------------------------------------------------
   ->liens
   -------------------------------------------------------------------------- */
a,
button {
  transition: color .25s, background-color .25s;
  cursor: pointer;
}

/* Rappel : l'ordre des pseudo-classes doit être : link > visited > hover/focus > active */
a {
  text-decoration: none;
  color: inherit;
}


/* --------------------------------------------------------------------------
   ->listes à puces et numérotées
   -------------------------------------------------------------------------- */
ul,
ol {
	list-style: none;
}


/* --------------------------------------------------------------------------
   ->autres mises en forme
   -------------------------------------------------------------------------- */
/* Code, mark, ... */
code,
pre,
samp,
kbd {
	font-family: $font-monospace;
}
samp {
  white-space: pre-line;
  white-space: pre-wrap;
  line-height: 1em;
}
pre {
  overflow: auto;
}
kbd {
  display: inline-block;
  padding: em(2,12) em(4,12);
  border: 1px solid #B4B4B4;
  border-radius: em(3,12);
  background-color: #F4F7F8;
  box-shadow: 0px 1px 1px rgba($noir, .2), 0px 2px 0px 0px rgba($blanc, .7) inset;
  font-size: em(12);
  font-weight: 700;
  white-space: nowrap;
}

/* Code */
pre > code {
	display: block;
  max-height: em(400);
  overflow-x: auto;
  padding: .5em 1em;
  tab-size: 4;
  white-space: pre;
  background-color: #efefef;
}

/* Surlignement */
mark {
	padding: .125em .25em;
	background: $jaune;
  color: $noir;
}

/* Abbreviations, sigles, etc. */
abbr[title] {
  border-bottom: dotted 1px;
  cursor: help;
  font-variant : none;
  text-decoration: none;
}

/* Citations
 * cf. https://en.wikipedia.org/wiki/Quotation_mark#Summary_table_for_all_languages
 */
q,
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
:lang(fr) q,
:lang(fr) blockquote {
  quotes: "\00AB\00A0" "\00A0\00BB" "\201C" "\201D" "\2018" "\2019";
}
:lang(en) q,
:lang(en) blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
:lang(es) q,
:lang(es) blockquote {
  quotes: "\00AB" "\00BB" "\201C" "\201D";
}
:lang(it) q,
:lang(it) blockquote {
  quotes: "\00AB\00A0" "\00A0\00BB" "\201C" "\201D";
}
:lang(de) q,
:lang(de) blockquote {
  quotes: "\201e" "\201c" "\201a" "\2018";
}
q:before,
blockquote:before {
  content: open-quote;
}
q:after,
blockquote:after {
  content: close-quote;
}

/* Ligne horizontale */
hr {
	height: 1px;
	border: 0;
	color: $couleur-ligne;
	background-color: $couleur-ligne;
	margin: 1em 0;
  padding: 0;
}


/* --------------------------------------------------------------------------
   ->texte classique
   -------------------------------------------------------------------------- */
.txt {
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  figure,
  blockquote,
  table {
    max-width: rem($maxW);
  }
  h2,
  h3 {
    margin-top: rem(25 * 2);
    margin-bottom: rem(25);
    font-size: rem(24);
    line-height: 1.25; //30
    font-weight: 700;
    color: $couleur1;
  }
  h4 {
    font-size: rem(17);
    line-height: $line-height-base; //25
    font-weight: 700;
    color: $couleur1;
  }
  p,
  ul,
  ol,
  blockquote,
  .acc {
    margin-bottom: rem(25);
  }
  p,
  ul,
  ol,
  figure,
  blockquote {
    font-size: rem(17);
    line-height: $line-height-base; //25
  }
  .acc + .acc {
    margin-top: rem(-25);
  }
  // p {
  //   text-align: justify;
  //   word-wrap: break-word;
  //   hyphens: auto;
  // }

  a:not(.btn) {
    text-decoration: underline;
    color: $couleur1;
    // &[target="_blank"] {
    //   &:after {
    //     @include icomoon;
    //     display: inline-block;
    //     vertical-align: middle;
    //     content: "\e91a";
    //     margin-left: em(2,14);
    //     font-size: em(14,17);
    //     text-decoration: none;
    //   }
    // }
    @include hover {
      text-decoration: none;
    }
  }

  ul:not(.unstyled),
  ol:not(.unstyled) {
    padding-left: em(28,17);
    ul,
    ol {
      margin: 0;
      font-size: 1em;
    }
  }
  ul:not(.unstyled) > li,
  ol:not(.unstyled) > li {
    &:before {
      display: inline-block;
      width: em(28,17);
      margin-left: em(-28,17);
      color: $couleur1;
    }
  }
  ul:not(.unstyled) {
  	& > li {
  		&:before {
  			content: "•";
  		}
  	}
  }
  ol:not(.unstyled) {
		counter-reset: ol;
		& > li {
			counter-increment: ol;
			&:before {
				content: counter(ol);
        font-weight: 700;
			}
		}
	}
  p + ul:not(.unstyled),
  p + ol:not(.unstyled) {
    margin-top: rem(-25);
  }

  figure {
    margin-top: rem(45);
    margin-bottom: rem(45);
  }

  blockquote {
    position: relative;
    padding-left: em(28,17);
    font-weight: 700;
    color: $couleur1;
    &:before {
      content: " ";
      display: block;
      width: rem(4);
      position: absolute;
      top: em(4,17);
      bottom: em(4,17);
      left: 0;
      background-color: $couleur1;
    }
    p {
      margin: 0;
    }
  }
  cite {
    font-weight: 400;
  }

  cite {
    font-size: rem(14);
    line-height: 1.429; //20
    color: $gris;
    a:not(.btn) {
      color: inherit;
      @include hover {
        color: $couleur1;
      }
    }
  }

  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  figure,
  blockquote,
  table,
  .acc {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  // ul.select2-results__options {
  //   max-width: 100%;
  //   margin-bottom: 0;
  //   padding-left: 0;
  //   font-size: 1em;
  //   line-height: inherit;
  //   & > li:before {
  //     display: none;
  //   }
  // }

  table {
    width: 100%;
    margin-top: rem(25);
    margin-bottom: rem(25);
    &.has-fixed-layout {
      table-layout: fixed;
    }
    th,
    td {
      border-bottom: 1px solid $gris;
      padding-top: rem(11);
      padding-bottom: rem(10);
      font-size: rem(16);
      line-height: 1.5; //24
      &:not(:last-child) {
        padding-right: rem(10);
      }
    }
    strong {
      color: $couleur1;
    }
    thead th,
    thead td {
      border-color: $couleur1;
      font-size: rem(13);
      line-height: 1.846; //24
      color: $gris;
      text-transform: uppercase;
      letter-spacing: em(1,13);
    }
    thead,
    tbody:first-child tr:first-child {
      th,
      td {
        padding-top: 0;
      }
    }
  }
}


/* --------------------------------------------------------------------------
   ->tailles
   -------------------------------------------------------------------------- */
// .f1-64 { //...
//   font-size: rem(64);
//   line-height: 1.25; //80
// }
//
// .f2-64,
// .f2-32 {
//   font-family: $font-secondaire;
// }
// .f2-64 { //...
//   font-size: rem(64);
//   line-height: 1.25; //80
// }
// .f2-32 { //...
//   font-size: rem(32);
//   line-height: 1.25; //40
// }
