//=============================================
//Thème Wordpress :
//=============================================
$wp: false !default;
$wp-classes: false !default;

//=============================================
//Prism :
//=============================================
$prism: true;
$prism-show-langage-name: true;

//=============================================
//Couleurs :
//=============================================
@import 'couleurs';

//=============================================
//Fonts :
//=============================================
$taille-base: 16 !default;
$line-height-base: 1.5 !default;
$vertical-rythm: '2t-1b' !default; //1t-1b, 2t-1b, 2t-2b, 1t, 1b
$font-default: "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-secondaire: "Georgia", "Cambria", "Times New Roman", "Times", serif !default; //Titres par exemple (la c'est une serif)
$font-monospace: "Consolas", "DejaVu Sans Mono", "Courier", monospace !default; //Code et autres
$headings-size: 26 24 22 20 18 16; //false pour ne pas utiliser la boucle
$headings-weight: 400 400 400 400 400 700;

//=============================================
//Mise en forme :
//=============================================
$max-p-width: none !default; //Pas plus de 80 caractères par ligne, 33em
$p-justify: false !default;
$a-underline: underline !default; //underline / none
$puce-padding: 2em !default;
$puce-position: inside !default; //inside / outside

//=============================================
//Forms :
//=============================================
$input-defaut-size: 250 / $taille-base * 1em !default;
$input-defaut-border: 1px solid $gris !default;
$nb-lines-textarea: 3;

//=============================================
//Autres :
//=============================================
$width-wrap: 1200 !default;
$pc-wrap: 90% !default;
$gm: false !default; //Hauteur plan Google Map, 400 pas mal (false si il n'y a pas de plan sur le site)
$ratioHDPI: 1.3 !default;

//=============================================
//RWD :
//=============================================
$palier-big-1: 1600 !default; //...
$palier-big-2: 2000 !default; //...
$palier-1: 1000 !default; //...
$palier-2: 700 !default; //...
$palier-3: 500 !default; //...
