//=============================================
//Thème Wordpress :
//=============================================
$wp: false;
$wp-classes: false;

//=============================================
//Couleurs :
//=============================================
@import 'couleurs';

//=============================================
//Fonts :
//=============================================
$taille-base: 16;
$line-height-base: 1.5;
$font-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-serif: "Georgia", "Times New Roman", "Times", serif;
$font-monospace: "Consolas", "DejaVu Sans Mono", "Courier", monospace;
$font-default: $font-sans-serif;
$font-secondaire: $font-serif;

//=============================================
//Forms :
//=============================================
$hasForm: true;
$input-defaut-size: 250 / $taille-base * 1em;
$input-defaut-border: 1px solid $gris;
$nb-lines-textarea: 3;

//=============================================
//Autres :
//=============================================
$width-wrap: 1500;
$pc-wrap: 86.5%;
$ratio-wrap: .865;
$gm: false; //Hauteur plan Google Map, 400 pas mal (false si il n'y a pas de plan sur le site)
$ratioHDPI: 1.3;

$maxW: 600;
$nav-h: 80;

$padSection: 55;
$gutterSection: 40;

// $datepicker-w: 292 - 12;
// $datepicker-z: 1000;

// $input-h: 60;
// $padInput: $input-h - 16 * $line-height-base;

//=============================================
//RWD :
//=============================================
$rwd-wrapper: ($width-wrap / $ratio-wrap); //1819

$nav-mobile: 1020;

$rwd-typo-1: $nav-mobile;
$rwd-pad-1: $rwd-typo-1;

$rwd-small-screens: 349;

$rwd-section-1: 800;
