@charset "UTF-8";
/* ==========================================================================
   >>HELPERS BLOCS
   ========================================================================== */
/* Wrapper */
.wrapper {
	display: block;
	width: $pc-wrap;
	max-width: rem($width-wrap);
	margin-left: auto;
	margin-right: auto;
}
.wrapper_full {
	margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

/* Cover, contain */
.cv {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.cv-img {
	object-fit: cover;
	// background-position: center center;
	// background-repeat: no-repeat;
	// background-size: cover;
}
.cv-contain {
	object-fit: contain;
	// background-size: contain;
}
