/* ==========================================================================
   >>HELPERS BLOCS
   ========================================================================== */
/* Wrapper */
.wrapper {
	width: $pc-wrap;
	max-width: rem($width-wrap);
	margin-left: auto;
	margin-right: auto;
}
.wrapper_full {
	margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

/* Répartition justifiée parfaite */
.pj {
	display: block;
	text-align: justify;
	overflow: hidden;
	&:before {
		content: '';
		display: block;
		width: 100%;
		margin-bottom: -1em * $line-height-base;
	}
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
}
.pj_i {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 1em * $line-height-base;
	text-align: left;
}

/* Cover, contain */
.cv {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.cv-img {
	object-fit: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.cv-contain {
	object-fit: contain;
	background-size: contain;
}
