/* ==========================================================================
   >>HELPERS BLOCS
   ========================================================================== */
.inlineConteneur>*,
.inlineBlock {
	display: inline-block;
}

/* Wrapper */
.wrapper {
	width: $pc-wrap;
	max-width: em($width-wrap);
	margin-left: auto;
	margin-right: auto;
}

/* Répartition justifiée parfaite */
.perfectJustify {
	display: block;
	text-align: justify;
	overflow: hidden;
	&:before {
		content: '';
		display: block;
		width: 100%;
		margin-bottom: -1em * $line-height-base;
	}
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
}
.perfectJustify_i {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: 1em * $line-height-base;
	text-align: left;
}

/* Masquage accessible */
.accessHide {
	position: relative;
	// overflow: hidden;
}
.accessHide_i {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 0;
	font-size: 0;
	color: transparent;
	user-select: none;
}


.srOnly {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    border: 0;
}
.srOnly-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
