/* ==========================================================================
   >>HELPERS
   ========================================================================== */
/* Clearfix */
.clearfix {
	@include clearfix;
}

/* Masquage accessible */
.srOnly {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    border: 0;
}
.srOnly-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

/* Allignement des bloc et images (.alignleft, .alignright, .aligncenter sont des classes WP) */
.left,
.alignleft { float: left;  }
.right,
.alignright { float: right; }
.center,
.aligncenter {
	margin-left: auto;
	margin-right: auto;
}
.blockRight {
	margin-left: auto;
}

img.left,
.alignleft { margin-right: 1em; }
img.right,
.alignright { margin-left: 1em; }
img.left,
img.right,
.alignleft,
.alignright,
.aligncenter { margin-bottom: .3em; }

/* Masquage */
.none {
	display: none;
}

.invisible {
	opacity: 0;
}
.lt-ie9 .invisible {
	visibility: hidden;
}
