/* ==========================================================================
   >>ICONES
   ========================================================================== */
//Si SVG :
// .icon {
// 	display: inline-block;
// 	vertical-align: text-top;
// 	fill: currentColor;
// }

@mixin icomoon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-"],
[class*=" icon-"] {
	@include icomoon;
}

.icon-search:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-user:before {
	content: "\f007";
}
.icon-home:before {
	content: "\f015";
}
.icon-print:before {
	content: "\f02f";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-linkedin-square:before {
	content: "\f08c";
}
.icon-github-square:before {
	content: "\f092";
}
.icon-phone:before {
	content: "\f095";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-arrows-alt:before {
	content: "\f0b2";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-pinterest-square:before {
	content: "\f0d3";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-rss-square:before {
	content: "\f143";
}
.icon-file-text:before {
	content: "\f15c";
}
.icon-youtube-square:before {
	content: "\f166";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-tumblr-square:before {
	content: "\f174";
}
.icon-wordpress:before {
	content: "\f19a";
}
.icon-behance-square:before {
	content: "\f1b5";
}
.icon-share-alt:before {
	content: "\f1e0";
}
