/* ==========================================================================
   >>HELPERS TYPOS
   ========================================================================== */
/* Allignement du texte */
.txtLeft   { text-align: left; }
.txtRight  { text-align: right; }
.txtCenter { text-align: center; }
.txtJustify {
	text-align: justify;
	word-wrap: break-word;
	hyphens: auto;
}
.txtNoJustify {
	text-align: left;
	word-wrap: normal;
	hyphens: none;
}

/* Mise en forme */
.uppercase {
	text-transform: uppercase;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: 700;
}
.light {
	font-weight: 300;
}
.normalWeight {
	font-weight: 400;
}
.underline {
	text-decoration: underline;
}

/* Fonts */
.defautFont {
	font-family: $font-default;
}
.secondFont {
	font-family: $font-secondaire;
}

/* Couleurs */
.txtWhite {
	color: $blanc;
}
.txtBlack {
	color: $noir;
}
.txtRed {
	color: $rouge;
}
